<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/Site.css")
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-warning">
   
    

    <nav class="text-center navbar-expand-lg navbar-light bg-white font-weight-bold ">
        <div class="text-left font-weight-bolder">
        @Html.ActionLink("Cinemania", "index", "home", new { area = "" }, new { @class = "navbar-brand"})
            </div>
        @Html.ActionLink("Cartelera", "Index", "Cartelera", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Contactos", "Index", "Proximamente", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Promociones", "Index", "Promociones", new { area = "" }, new { @class = "navbar-brand" })


    </nav>



        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer class="text-center">
                <p class="">&copy; @DateTime.Now.Year - Cinemania</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
